* {
    box-sizing: border-box;
}

body  {
    margin: 0 auto;
}

section {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

ol, ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0 auto;
}

img {
    width: 362px;
    height: 362px;

    border-bottom: 1px solid black;
}

.carts-list {
    display: flex;
    flex-direction: column;
}

.cart-item {
    display: flex;
    flex-direction: column;

    margin-top: 40px;
}

.basket-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 20px;
}

.basket-item {
    display: flex;
    align-items: center;
}

.basket-title {

}

.basket-text {
    margin-left: 10px;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-item {
    width: calc((100% - 2 * 20px) / 3);
    border: 1px solid black;
}

.product-info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    margin-bottom: 10px;
}

.product-subtitle {
    font-weight: 700;
}

.product-text {
    font-weight: 400;
}